.content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.add-book-modal{
    transform: scale(0);
}
.active-book-modal{
    display: flex;
    justify-content: center;
    transform: scale(1);
}
#bookFields{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.all-books{
    display: flex;
    justify-content: center;
}