.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
    margin-left: 100px;

}
h1{
    color: rgb(94, 39, 39);
}
.add-book-modal{
    transform: scale(0);
    

}
#addBook{
    font-size: large;
}
.active-book-modal{
    display: flex;
    justify-content: center;
    transform: scale(1);
}
#bookFields{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-size: large;
}
.all-books,
.book-card,
.book-values{
    display: flex;
    justify-content: center;
    gap: 10px;
    border: solid;
    flex-wrap: wrap;
    border-radius: 10px;
    border-color: brown;
    padding: 5px;
    /* width: fit-content; */

}
.book-card{
    border-color:coral;
    display: flex;
    flex-direction: column;
}

button,
.btn-bkf{
    border: solid;
    border-radius: 10px;
    background-color: rgb(94, 39, 39);
    padding: 10px;
    width: fit-content;
    color: white;
    font-weight: bold;
}
div{
    display: flex;
    justify-content: center;
    gap: 10px;
}

